.inputField {
    padding: 20px;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inputField * {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.Register {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    * {
        margin: 10px 0px;
    }
}

.forming {
    width: 50%;

}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.mainReg {
    display: flex;
    flex-direction: row;
}