.adding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        padding: 10px;
        margin: 10px;
    }

    [type=textarea] {
        width: 200px;
        height: 200px;
        // text-wrap: nowrap;

    }
}